body {
  background-color: #f5f5f5;
  margin: 0;
}

main {
  margin: 2em 1em;
}

/* this should probably be css-in-js but i'm already learning ts and mui */
header h6 {
  flex-grow: 1;
}

h2.MuiTypography-h5 {
  align-items: center;
  display: flex;
  margin-bottom: 0.5em;
}

h2.MuiTypography-h5 svg {
  margin-right: 0.2em;
}

h3 {
  font-weight: bold !important;
}

.user-card.MuiCard-root {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 100ms ease !important;
}

.MuiCard-root + .MuiCard-root {
  margin-top: 1em;
}

.user-card.MuiCard-root:hover {
  transform: scale(1.01);
}

.MuiFormControl-root + .MuiFormControl-root {
  margin-top: 0.75em;
}

.MuiCircularProgress-root {
  display: block !important;
  margin: 0 auto !important;
}

.status-center {
  text-align: center;
}
